Options -Indexes
RewriteEngine On
DirectoryIndex http://localhost/projetDev205/login.php
ErrorDocument 404 http://localhost/projetDev205/404.html
ErrorDocument 403 http://localhost/projetDev205/403.html