main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    height: 100%;
    
}
body{
    height: 100%;

}
html{
    height: 100%;
}
table{

    box-shadow: 10px 10px 8px rgb(147, 147, 147);
    background-color: var(--color3);
    width: 60%;
    
}
table ,th ,td{ 
   font-size: 20px;
   text-align: center;
   border:2px solid black ;
   border-collapse:collapse;
  
}
table th{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    text-align: center;
    height:10px;
    width:120px; 
}
table td{
    font-weight:100;
}



           
