*{
    padding: 0px;
    margin: 0px;
    font-family:'Franklin Gothic Demi italic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-transform: capitalize;
    font-style: italic;    
}
:root{
    --color1:#FB931B;
    --color2:#155A93;
    --color3:#D8E6EA;
    --color4:#ffffff;
}
/*---------------------------- header --------------------------------*/
header{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    top:0;
    height: 106px;
    background-color:var( --color2);
    padding: 1px 40px;
    border-radius: 0 0 60px 60px;
    
    }
#logoOfppt{
    height: 100px;
    width: 100px;
    }
.logoApp{
    margin-right: -5%;
    height:100px;
    width:100px;

}
#Déconnexion{
        margin-right: 0px;
        background-color:var(--color1);
        text-align: center;
        border-radius: 15px;
        font-size: 20px;
        
        width:150px;
        height: 35px;
        color:var(--color1);
        cursor: pointer;
        outline: none;
        border: none;
    }

button[type=button]:hover {
    background-color:var(--color1);
    color:var(--color4);
    border: 1px solid var(--color1);
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--color4);
}




/*------------------------------------------------------------------*/
.title{
  margin:15px auto 40px;
  color: var(--color2);
  font-family: Franklin,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  text-align: center;
}


.selects ul {
    list-style: none;
    margin-right: 40px;
    margin-left: 70px;
    padding-left: 50px;
  }
  .selects ul li {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:170px;
    margin-right:40px;
  } 
  .selects ul li label {
    color: var(--color2);
    font-size: 15px;
    width:100%;
  }
  .selects ul li select {
    background-color: var(--color1);
    height: 25px;
    border: 2px solid var(--color2);
    border-radius: 8px;
    font-size: 12px;
    text-align: center;  
    width:100px;
  }
  .selects input[type="submit"] {
    background-color: rgb(0, 139, 69);
    color: var(--color4);
    font-size: 15px;
    width: 70px;
    padding: 3px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    height:30px
  }
  .selects input[type="submit"]:hover {
    width: 70px;
    padding: 5px;
    background-color: var(--color2);
  }


main{
    
    justify-content: center;
    width: 100%;
    margin-top: -20px;
   
}

body{
    height: 100%;  
    background-color: var(--color3);
}
html{
    height: 100%;
}
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.titre
{
    text-align: center;
    padding: 50px;
    font-size: 30px;
    color: #155A93;
   


}
table{

    box-shadow: 10px 10px 8px rgb(147, 147, 147);
    background-color: var(--color3);
    width: 100%;
    

    
}
table,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    margin: auto;
}
table th{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    text-align: center;
    height:10px;
    width:140px; 
}

table tr td {
    font-size: 19px;
}
#btn1{
    background-color: transparent;
    padding: 2px 5px;
    color: var(--color2);
    border: 2px solid #999999;
    border-radius: 10px;
    cursor: pointer;
}

/* ----------------------------------[ table ]----------------------------------------------------------------- */
  table {
    background-color: rgb(232, 236, 239);
    box-shadow: 3px 2px 4px 4px rgb(176, 176, 176);
    margin-left: 50px;
    width: 90%;
  }
  table,
  th,
  td {
    border: 2px solid black;
    border-collapse: collapse;
    height: 28px;
    font-size: 17px;
  }
  table th {
    font-family: 'Franklin Gothic Medium', 'italic';
    font-weight: 900;
    width: 170px;
  }
  table td {
    font-weight: 100;
    text-align: center;
  }
  [type="text"] {
    outline: none;
    background-color: rgb(232, 236, 239);;
    border: none;
    width: 170px;
    padding: 0px;
    margin: 0px;
    height: 100%;
  }
    


.valider input{
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 140px;
    font-size: 20px;
    color: var(--color4);
    padding: 2px 0px;
    margin :20px 70px;
    background-color: var(--color1);
    cursor: pointer;
    transition: 0.5s;
    float:right;
}

.valider input:hover{


   
    padding: 4px ;
    width: 145px;
    background-color: var(--color2);

}
    footer {
        display: flex;
        margin-top: 102px;
        background-color: var(--color2);
        justify-content: center;
        align-items: center;
    
        color: white;
    
        left: 0;
        bottom: 0;
        width: 100%;
        height: 7vh;
        position: fixed;
    }
    
    footer p {
        font-size: 20px;
    }
/*--------------------------navbar---------------------------*/
nav{
    height: 35px;
 }
 ul {
    list-style-type: none;
     display: flex;
     justify-content: center;
 }
 ul li{
     margin-right: 10px;
     width: 100px;
 }
 ul li button{
     width: 100px;
     padding: 10px;
     border: 0;
     border-radius: 0 0 25px 25px;
     background-color: var(--color2); 
     color: white;
     font-size: 11px;
     font-weight: bold;
     text-decoration: none;  
 }
 ul li button:hover{
     border: 2px solid rgb(147, 147, 147);
     border-top: 0px;
     border-radius: 0 0 25px 25px;
     background-color: rgb(232,236,239);
     color: var(--color2);
     cursor: pointer;
 }
 ul li ul{
     display: none;
 }
 ul li ul li button{
     background-color:var(--color1);
     font-size: 11px;
     font-weight: bold;
     border-radius: 0px;
 }
 ul li ul li button:hover{
     background-color:white;
     color: #FB931B;
     border-radius: 0px;
 }
 ul li:hover>ul {
     display: flex;
     height:50px;
 }
 .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 19%;
    top: 40%;
    width: 60%;
    height: 50%;
    overflow: auto;
    background: #8693ab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #bdd4e7, #8693ab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #bdd4e7, #8693ab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* Black w/ opacity */
    scroll-behavior: smooth;
    
  }
  
  .modal::-webkit-scrollbar {
    width: 0.8vw;
  }
  
  .modal::-webkit-scrollbar-track {
    background-color: #16222a;
  }
  
  .modal::-webkit-scrollbar-thumb {
    background-color: #fb931b;
    border-radius: 0;
  }
  
  .modal::-webkit-scrollbar-thumb:hover {
    background-color: black;
  }
  
  .modal::-webkit-scrollbar-corner {
    background-color: palevioletred;
  }
  
  .close {
    color: rgb(6 6 6 / 80%);
    line-height: 50px;
    font-size: 4vw;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 65px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-title {
    color: red;
    font-size: 21px;
  
    margin-left: 34px;
    margin-bottom: 17px;
    margin-top: 14px;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(230, 27, 27);
  }
  
  /* custom modal css */
  
  .fullname {
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    margin-left: 50%;
    margin-bottom: 10px;
    color: #fb931b;
    border: #000 1px solid;
    border-radius: 25px;
    width: fit-content;
  }
  
  .main {
    display: flex;
    flex-direction: column;
  }
  
  
  
  .list ol {
    display: flex;
    gap: 1vw;
    align-items: left;
    justify-self: unset;
    font-size: small;
    padding-left: 0;
    flex-wrap: wrap;
  }
  
  .list ol li {
    list-style-type: none;
    margin-top: 10px;
    border: 1px solid black;
    margin-bottom: 8px;
    font-size: medium;
  }
  
  .list ol li span {
    font-weight: bold;
  }
  
  .empty-msg {
    align-items: center;
    font-size: 28px;
    padding-left: 10%;
    color: rgb(203, 106, 106);
  }
  
  .separators {
    border: #16222a 2px dashed;
  }
  
  .btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
  }
  
  .justifier-btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #da935d;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .justifier-btn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .justifier-btn:active {
    transform: translateY(-1px);
  }
