* {
  padding: 0px;
  margin: 0px;
  font-family: "Franklin Gothic Demi italic", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
  font-style: italic;
}

:root {
  --color1: #fb931b;
  --color2: #155a93;
  --color3: #d8e6ea;
  --color4: #ffffff;
  --color5: rgb(232, 236, 239);
  --color6: rgb(247, 187, 10);
}

/*---------------------------- header --------------------------------*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 106px;
  background-color: var(--color2);
  padding: 1px 40px;
  border-radius: 0 0 60px 60px;
}

#logoOfppt {
  height: 100px;
  width: 100px;
}

.logoApp {
  margin-right: -5%;
  height: 100px;
  width: 140px;
}

#Déconnexion {
  margin-right: 0px;
  background-color: var(--color1);
  text-align: center;
  border-radius: 15px;
  font-size: 20px;

  width: 150px;
  height: 35px;

  cursor: pointer;
  outline: none;
  border: none;
}

button[type="button"]:hover {
  background-color: var(--color1);
  color: var(--color4);
  border: 1px solid var(--color1);
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--color4);
}

/*--------------------------navbar---------------------------*/
nav {
  height: 35px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
  width: 100px;
}

nav ul li button {
  width: 100px;
  padding: 10px;
  border: 0;
  border-radius: 0 0 25px 25px;
  background-color: var(--color2);
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

nav ul li button:hover {
  border: 2px solid rgb(147, 147, 147);
  border-top: 0px;
  border-radius: 0 0 25px 25px;
  background-color: rgb(232, 236, 239);

  color: var(--color2);
  cursor: pointer;
}

nav ul li ul {
  display: none;
}

nav ul li ul li button {
  background-color: var(--color1);
  font-size: 11px;
  font-weight: bold;
  border-radius: 0px;
}

nav ul li ul li button:hover {
  background-color: white;
  color: #fb931b;
  border-radius: 0px;
}

nav ul li:hover > ul {
  display: flex;
  height: 50px;
}

/*---------------------------footer--------------------------------*/
footer {
  display: flex;
  margin-top: 102px;
  background-color: var(--color2);
  justify-content: center;
  align-items: center;

  color: white;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 7vh;
}

footer p {
  font-size: 20px;
}

/*            mypage                     */

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.selects select {
  width: 80%;
}

.first-msg {
  font-size: 2vw;
  margin-top: 15%;
  margin-left: 15%;
  width: 50%;
  text-align: center;
  border: 3px solid green;
  padding: 10px;
}

.success {
  display: none;
  max-width: 0;
  max-height: 0;
}

.btn-click {
  cursor: pointer;
  border: 0;
  background: transparent;
  border: none !important;
  font-size: 0;
}

.selects {
  border: 3px solid #999999;
  background-color: var(--color5);
  text-align: center;
  width: 250px;
  height: 350px;
  box-shadow: 8px 8px 8px rgb(147, 147, 147), -4px -3px 8px rgb(147, 147, 147);
  border-radius: 10px;
  margin-top: 60px;
  margin-left: -20px;
}

.selects ul {
  list-style: none;
}

.selects ul li {
  margin: 10px 0px;
}

.selects ul li label {
  color: var(--color2);
  font-size: 23px;
  margin: 10px 0px;
}

.selects ul select {
  background-color: var(--color6);

  height: 25px;
  border: 2px solid var(--color2);
  border-radius: 8px;
  font-size: 15px;
  text-align: center;
}

.selects input[type="submit"] {
  background-color: rgb(0, 139, 69);
  color: var(--color4);
  margin-top: 10px;
  font-size: 20px;
  width: 80px;
  padding: 3px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.selects input[type="submit"]:hover {
  width: 95px;
  padding: 5px;
  background-color: var(--color2);
}

.listeEtudiants {
  width: 65%;
}

table {
  width: 100%;
  font-size: 24px;
  box-shadow: 10px 10px 8px rgb(147, 147, 147), -1px -1px 3px rgb(147, 147, 147);
  background-color: rgb(232, 236, 239);
}

table tr td {
  font-size: 19px;
}

.listeEtudiants table,
td,
th {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}

table caption {
  color: var(--color2);
  margin-bottom: 10px;
  font-size: 30px;
}

.details {
  background-color: transparent;
  padding: 2px 5px;
  color: var(--color2);
  border: 2px solid #999999;
  border-radius: 10px;
  cursor: pointer;
}

.ajoute-valider {
  position: relative;
  margin-top: 50px;
  width: 70%;
  left: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ajoute {
  width: 100px;
}

.ajoute img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.ajoute p {
  font-size: 21px;
  color: var(--color2);
  font-weight: bolder;
  transition: 0.2s;
}

/* css  modal box mat9issoch safi */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 25%;
  top: 20%;
  width: 60%;
  height: 50%;
  overflow: auto;
  background: #8693ab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #bdd4e7, #8693ab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #bdd4e7, #8693ab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* Black w/ opacity */
  scroll-behavior: smooth;
}

.modal::-webkit-scrollbar {
  width: 0.8vw;
}

.modal::-webkit-scrollbar-track {
  background-color: #16222a;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #fb931b;
  border-radius: 0;
}

.modal::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

.modal::-webkit-scrollbar-corner {
  background-color: palevioletred;
}

.close {
  color: rgb(6 6 6 / 80%);
  line-height: 50px;
  font-size: 4vw;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 65px;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  color: red;
  font-size: 21px;

  margin-left: 34px;
  margin-bottom: 17px;
  margin-top: 14px;
}

.close:hover,
.close:focus {
  color: rgb(230, 27, 27);
}

/* custom modal css */

.fullname {
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  margin-left: 40%;
  margin-bottom: 10px;
  color: #fb931b;
  border: #000 1px solid;
  border-radius: 25px;
  width: fit-content;
}

.main {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: left;
  font-size: 25px;
}

.list ol {
  display: flex;
  gap: 1vw;
  align-items: left;
  justify-self: unset;
  font-size: small;
  padding-left: 0;
  flex-wrap: wrap;
}

.list ol li {
  list-style-type: none;
  margin-top: 10px;
  border: 1px solid black;
  margin-bottom: 8px;
  font-size: medium;
}

.list ol li span {
  font-weight: bold;
}

.empty-msg {
  align-items: center;
  font-size: 28px;
  padding-left: 10%;
  color: rgb(203, 106, 106);
}

.separators {
  border: #16222a 2px dashed;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.justifier-btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #da935d;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.justifier-btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.justifier-btn:active {
  transform: translateY(-1px);
}

/* Toggle switches */

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/*             mobile version code css   */
/*          navbav -pop      */
.navbar-pop {
  display: none;
  width: 25px;
  height: 25px;
}
.navbar-pop div {
  width: 100%;
  height: 3px;
  background-color: wheat;
  margin-top: 3.5px;
}
.navpop {
  display: none;
  position: fixed;
  z-index: 1;
  left: 70%;
  top: 0;
  /* float: left; */
  width: 30%;
  height: 100vh;
  overflow: auto;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--color1);
}

.closenav {
  color: var(--color1);
  float: right;
  font-size: 38px;
  font-weight: bold;
  display: block;

  margin-bottom: 30px;
}

.closenav:hover,
.closenav:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.body-nav {
  background-color: black;
  clear: both;
}
.body-nav ol {
  list-style: none;
}
.body-nav ol li {
  text-align: center;
  margin-top: 0px;
  background-color: black;
  margin-top: 10px;
}
.body-nav ol li button {
  text-align: center;
  background-color: black;
  width: 100%;
  padding: 6px 0px 6px 0px;
}
.body-nav ol li :hover,
.body-nav ol li:focus {
  background-color: var(--color1);
  color: var(--color2);
}
.body-nav ol button {
  background-color: transparent;
  font-size: 17px;
  color: var(--color3);
  border: none;
  cursor: pointer;
  color: white;

  font-weight: bold;
  text-decoration: none;
}
.body-nav ol li ol {
  display: none;
}
.body-nav ol li ol:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.fa-home:before {
  content: "\f015";
  margin-right: 5px;
}
.fa-pencil-square:before {
  content: "\f14b";
  margin-right: 5px;
}
.fa-calendar-times-o:before {
  content: "\f273";
  margin-right: 5px;
}
.fa-calendar:before {
  content: "\f073";
  margin-right: 5px;
}
.fa-plus-circle:before {
  content: "\f055";
  margin-right: 5px;
}
#btnlougout {
  background-color: transparent;
  margin-left: 20px;
  margin-top: 25px;
  padding: 3px 3px;
  border-radius: 5px;
  transition: 1s;
}
#btnlougout img {
  width: 37px;
  height: 37px;
}

#btnlougout:hover {
  padding: 5px 5px;
  border-radius: 6px;
}

@media (max-width: 640px) {
  #Déconnexion {
    display: none;
  }
  .logoApp {
    height: 70px;
    width: 100px;
  }
  #logoOfppt {
    height: 76px;
    width: 76px;
  }
  header {
    background-color: var(--color2);
    padding: 4px 40px;
    height: fit-content;
  }
  .navbar-pop {
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
  nav {
    display: none;
  }
  main {
    display: block;
  }
  .selects ul li {
    margin: 10px 0px;
    display: inline-block;
  }
  .selects {
    border: none;
    background-color: transparent;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-top: 0px;
    box-shadow: none;
  }
  .selects ul select {
    background-color: var(--color6);
    height: 25px;
    border: 2px solid var(--color2);
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    width: 141px;
  }
  .selects ul li label {
    font-size: 17px;
  }
  .selects ul li {
    margin: 10px 15px;
  }
  #filiérelb {
    margin-left: 64px;
  }
  .selects input[type="submit"] {
    font-size: 15px;
    width: 61px;
    padding: 2px;
    margin-top: 0px;
  }
  .selects input[type="submit"]:hover {
    font-size: 15px;
    width: 61px;
    padding: 3px;
  }

  .first-msg {
    margin-top: 5%;
    margin-left: 29%;
  }
  table {
    font-size: 15px;
    box-shadow: none;

    margin-left: 15px;
  }
  .listeEtudiants table,
  td,
  th {
    border: 2px solid black;
    padding: 3px;
  }
  .listeEtudiants {
    margin-top: 20px;
    width: 95%;
  }
  table tr td {
    font-size: 15px;
  }
  table caption {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 15px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    height: 11px;
    width: 11px;
    left: 4px;
    bottom: 1.5px;
  }
  .ajoute img {
    width: 28px;
    height: 26px;
    margin-left: 10px;
  }
  .ajoute p {
    font-size: 19px;
  }
  .ajoute-valider {
    left: 2%;
  }
  footer {
    margin-top: 37px;
    height: 5vh;
  }
  footer p {
    font-size: 18px;
  }
}


.MODIFIER{
  background-color:  rgb(232, 236, 239);
  color: var(--color2);
  border: 2px solid rgb(147, 147, 147);
}
