*{
    padding: 0px;
    margin: 0px;
    font-family:'Franklin Gothic Demi italic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: italic;    
}
:root{
    --color1:#FB931B;
    --color2:#155A93;
    --color3:#D8E6EA;
    --color4:#ffffff;
}
body{
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  body::-webkit-scrollbar {
      display: none;
  }
/*---------------------------- header --------------------------------*/
header{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    top:0;
    height: 106px;
    background-color:var( --color2);
    padding: 1px 40px;
    border-radius: 0 0 60px 60px;
    
    }
#logoOfppt{
    height: 100px;
    width: 100px;
    }
.logoApp{
    margin-right: -5%;
    height:100px;
    width:140px;

}
#Déconnexion{
        margin-right: 0px;
        background-color:var(--color1);
        text-align: center;
        border-radius: 15px;
        font-size: 20px;
        
        width:150px;
        height: 35px;
        color:var(--color1);
        cursor: pointer;
        outline: none;
        border: none;
    }

button[type=button]:hover {
    background-color:var(--color1);
    color:var(--color4);
    border: 1px solid var(--color1);
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--color4);
}


@media (max-width:375px){
    header{
        height: 150px;
        display: block;
    

    }
    .logoApp{
        width: 10%;
        height: 10%;
    }
    .déconnexion{
        height: 0%;
        width: 10%;
        margin-left: 10%;
    }
    img{
        height: 40px;
        width: 40px;
    }
}
/*--------------------------------filtrage----------------------------------*/
.selects{
    margin-top: 20px;
}
.selects ul {
    list-style: none;
    margin-right: 20px;
    margin-left: 50px;
    padding-left: 50px;
  }
  .selects ul li {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:170px;
    margin-right:60px;
  } 
  .selects ul li label {
    color: var(--color2);
    font-size: 18px;
    width:30px;
  }
  .selects ul li select {
    background-color: var(--color1);
    height: 20px;
    border: 2px solid var(--color2);
    border-radius: 8px;
    font-size: 12px;
    text-align: center;  
    width:200px;
  }
  .selects input[type="submit"] {
    background-color: rgb(0, 139, 69);
    color: var(--color4);
    font-size: 15px;
    width: 70px;
    padding: 3px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    height:30px
  }
  .selects input[type="submit"]:hover {
    width: 70px;
    padding: 5px;
    background-color: var(--color2);
  }
/*------------------------------------------------------------------*/

main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -10px;
    
   
    
}

body{
    height: 100%;
    background-color: var(--color3);

}
html{
    height: 100%;
}
.titre
{
    text-align: center;
    padding: 50px;
    font-size: 30px;
    color: #155A93;
   


}
table{

    box-shadow: 10px 10px 8px rgb(147, 147, 147);
    background-color: rgb(232, 236, 239);
    width: 95%;
    

    
}

table ,th ,td{ 
   margin: auto;
   font-size: 20px;
   text-align: center;
   border:2px solid black ;
   border-collapse:collapse;
   padding: 7px;
  
}
select{
    margin-left: 88%;
    height: 27px;
    background-color:var(--color3);
}

table th{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    text-align: center;
    height:10px;
    width:150px; 
    color: var(--color2);
}
table td{
    font: weight 50px;
    font-size: 20px;

    

}
.commentaire
{
    outline: none;
    background-color: #D8E6EA;
    border: none;
}
.valider input{
    border: none;
    border-radius: 30px;
    text-align: center;
    width: 190px;
    font-size: 25px;
    color: var(--color4);
    padding: 5px 0px;
    margin :30px 70px;
    background-color: var(--color1);
    cursor: pointer;
    transition: 0.5s;
    float:right;
    margin-top: 5%;
}

.valider input:hover{


   
    padding: 4px ;
    width: 145px;
    background-color: var(--color2);

}

/*---------------------------footer--------------------------------*/
   footer {
    display: flex;
    margin-top: 20vh;
    background-color: var(--color2);
    justify-content: center;
    align-items: center;

    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7vh;
}

footer p {
    font-size: 20px;
}
/*--------------------------navbar---------------------------*/
nav{
    height: 35px;
 }
 ul {
    list-style-type: none;
     display: flex;
     justify-content: center;
 }
 ul li{
     margin-right: 10px;
     width: 100px;
 }
 ul li button{
     width: 100px;
     padding: 10px;
     border: 0;
     border-radius: 0 0 25px 25px;
     background-color: var(--color2); 
     color: white;
     font-size: 11px;
     font-weight: bold;
     text-decoration: none;  
 }
 ul li button:hover{
     border: 2px solid rgb(147, 147, 147);
     border-top: 0px;
     border-radius: 0 0 25px 25px;
     background-color: rgb(232,236,239);
     color: var(--color2);
     cursor: pointer;
 }
 ul li ul{
     display: none;
 }
 ul li ul li button{
     background-color:var(--color1);
     font-size: 11px;
     font-weight: bold;
     border-radius: 0px;
 }
 ul li ul li button:hover{
     background-color:white;
     color: #FB931B;
     border-radius: 0px;
 }
 ul li:hover>ul {
     display: flex;
     height:50px;
 }
 #Note{
    border: 2px solid rgb(147, 147, 147);
     border-top: 0px;
     border-radius: 0 0 25px 25px;
     background-color: rgb(232,236,239);
     color: var(--color2);
     cursor: pointer;
 }
