*{
    padding: 0px;
    margin: 0px;
    font-family:'Franklin Gothic Demi italic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-transform: capitalize;
    font-style: italic;
    
}
/*--------------------------------------------------------------------------------------------------*/
.Partie1{           
    display: flex;
    flex-wrap: wrap;
    background-color:#BCDDC6;
    padding: 0px 40px;
    border-radius: 0 0 60px 60px;
    justify-content:space-between;
    height: 106px;
    align-items :center;

}

#Déconnexion{
        margin-right: 0px;
        background-color: #008B45;
        text-align: center;
        border-radius: 15px;
        font-size: 20px;
        width: 150px;
        height: 35px;
        color: white;
        cursor: pointer;
        outline: none;
        border: none;
    }

button[type=button]:hover {
    background-color:#BCDDC6;
    color: green;
    border: 1px solid#008B45;
}

a{
    text-decoration: none;
    color: white;
}

@media (max-width:375px){
    .Partie1{
        height: 150px;
        display: block;
    }
}

/*--------------------------------------------------------------------------------------------------*/
main{
    display: flex;
    justify-content: center;
   
    width: 100%;
    margin-top: 100px;
    
}
table{

    box-shadow: 10px 10px 8px rgb(147, 147, 147);
    background-color: rgb(232, 236, 239);
    width: 60%;
    
}
table ,th ,td{ 
   font-size: 20px;
   text-align: center;
   border:2px solid black ;
   border-collapse:collapse;
  
}
table th{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    text-align: center;
    height:10px;
    width:120px;
    
   
}
/*--------------------------------------------------------------------------------------------------*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color:#BCDDC6;
    color: #004b93;
    margin-top: 50px;
    position: relative;
    bottom: -382.5px;
    left:0;
    width:100%;
    height: 7vh;
   
    

}

@media(max-width:375px){
    footer{
        bottom: -160.5px;
    }
}





           
